<!DOCTYPE html>
<html>
<head>
    <title>Execution Time per Tag</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/static/d3/tag_chart.js"></script>
</head>
<body>
    <h2 style="text-align:center;">Execution Time per Tag</h2>
    <div id="chart" style="display:flex; justify-content:center; align-items:center; height: 600px;"></div>
    <div style="text-align:center;"><a href="/">⬅ Back to Upload</a></div>
    <script>
        drawTagChart(() => {});
    </script>
</body>
</html>
